<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="{% url 'register'%}">Регистрация</a><br>
        <a href="{% url 'login'%}">Логин</a><br>
        <a href="{% url 'logout'%}">Выход</a><br>
        <a href="{% url 'user_detail'%}">Страница профиля</a>
    </header>
    {% block content %}
    
    {% endblock content %}
</body>
</html>
